.incorrect {
    color: red;
}

.correct {
    color: green;
}

.black {
    color: gray;
}

.incorrect, .correct, .black {
    font-weight: 700;
    text-align: center;
    font-size: min(max(20px, 4vw), 30px);
}

.game-intro {
    font-weight: 500;
    text-align: center;
    font-size: min(max(20px, 4vw), 30px); 
    width: 90vw;
    margin-left: 5px;
}

.game-button1, .game-button2, .game-button3 {
    font-size: min(max(12.5px, 2.5vw), 20px);
    font-weight: 500;
}

.game-button1 {
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
    text-align: center;
}

.game-button2 {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    text-align: center;
}

.game-button3 {
    grid-column: 3 / 4; 
    grid-row: 1 / 2;
    text-align: center;
}

.options {
    margin-left: 20px;
    font-size: min(max(10px, 3vw), 20px); 
    letter-spacing: 0.5px;
}

.emphasized {
    font-weight: 700;
}


@media only screen and (min-width: 500px) { 

    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 99vw;
    }

}

@media only screen and (min-width: 600px) { 
    .button-wrapper {
        width: 80vw;
    }

}

@media only screen and (min-width: 750px) { 
    .button-wrapper {
        width: 60vw;
    }

}

