/* Hex Codes */
/* #98817D Grey */
/* #C1C5AE Green */
/* #C4C9B0 Green */
/* #69514D Dark Grey */
/* #6A3729 Dark Brown */
/* #B0826C Light Brown */

.allwords-wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 10px;
    font-size: min(max(15px, 2vw), 25px); 
}

.dictionary-title {
    text-align: center;
}

.first {
    font-size: min(max(25px, 3.5vw), 45px);
    font-weight: 600;
}

.second {
    font-size: min(max(30px, 3.75vw), 45px);
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    color: #6A3729;
}

.third {
    font-size: min(max(15px, 2vw), 25px); 
    color: #6A3729;
}

.key-word {
    font-size: min(max(18px, 2.2vw), 28px) !important;
    font-weight: 700;
    letter-spacing: 1.45px;
    color: #6A3729;
}

.phonetic-spelling, .definition, .example {
    margin-left: 15px;
}