.container {
    margin: 0px auto;
    padding: 100px 10px 0px 10px;
}

.title {
    text-align: left;
    margin-left: 5px;
    font-size: min(max(25px, 5vw), 100px);
}

.bold-text {
    font-weight: 700;
    color: #98817D;
}

#nanny {
    height: 50vw;
    max-height: 500px;
    border-radius: 10px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#nanny {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
    box-shadow: 2px 2px 5px #888888;
}

#main-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
}

@media only screen and (min-width: 500px) { 

    #grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #nanny {
        height: 40vh;
        margin: 0px auto;
    }
  
    #main-text {
        font-size: min(max(10px, 3vw), 30px);
    }

    .container {
        margin: 0px auto;
        padding: 75px 10px 0px 10px;
    }

  }

  @media only screen and (min-width: 600px) { 

    #nanny {
        height: 60vh;
        margin: 0px auto;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

  }