.container {
    margin: 0px auto;
    padding: 100px 10px 0px 10px;
}

.title {
    text-align: center;
    font-size: min(max(30px, 5vw), 100px);

}

.bold-text {
    font-weight: 700;
}

#nanny {
    height: 50vw;
    max-height: 500px;
    border-radius: 10px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#nanny {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
}

#main-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
}
