/* Hex Codes */
/* #98817D Grey */
/* #C1C5AE Green */
/* #C4C9B0 Green */
/* #69514D Dark Grey */
/* #6A3729 Dark Brown */
/* #B0826C Light Brown */

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.search-wrapper {
  margin: 0 auto;
  padding: 15px;
}

.form-control:hover {
  background-color: #C1C5AE;
  color: black;
}

.search-button:hover {
  background-color: #69514D;
}

#nanny2 {
  height: 40vw;
  max-height: 225px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  box-shadow: 2px 2px 5px #888888;
}

.my-bubbe-says {
  font-size: min(max(20px, 3.5vw), 30px);
  font-weight: 700;
}

@media only screen and (min-width: 500px) { 

  .form-control {
  width: 50vw;
}

}

@media only screen and (min-width: 750px) { 

  .form-control {
  width: 30vw;
  position: center;
}

.grid-container {
  display: grid; 
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr; 
}

#nanny2 {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  height: 20vw;
}

.search-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 /2; 
  margin-top: 10vh;
}

}