#nanny3 {
    height: 30vw;
    max-height: 275px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    box-shadow: 2px 2px 5px #888888;
  }

.about-intro {
    margin-top: 3vw;
    text-align: center;
    font-weight: 700;
    font-size: min(max(25px, 5vw), 40px);
}

.about-intro2 {
    text-align: center;
    font-size: min(max(18px, 3.75vw), 32px);
}

.about-main {
    margin-top: 10px !important;
    margin: 0 auto;
    width: 90vw;
    font-size: min(max(10px, 3vw), 20px);
}

.contact-section a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px;
    font-size: min(max(15px, 3.5vw), 25px);
}

.contact-section a:hover {
    color: #C4C9B0;
}

.contact-section {
    margin-bottom: 12vh;
}
