/* Hex Codes */
/* #98817D Grey */
/* #C1C5AE Green */
/* #C4C9B0 Green */
/* #69514D Dark Grey */
/* #6A3729 Dark Brown */
/* #B0826C Light Brown */

input, textarea {
    padding: 2px;
    margin: 5px;
    border: 1px solid black;
    width: 90vw;
    background-color: #C1C5AE;
}

textarea:hover, input:hover {
    background-color: white;
    color: #69514D;
}

.submit-title {
    font-size: 4vh;
    font-weight: 600;
    text-align: center;
    margin-top: 10vh;
}

.optional, label {
    margin-left: 5px;
    font-size: min(max(6px, 3vw), 20px);
}

.optional {
    text-align: center;
}

.submit-subtitle {
    font-size: 2.5vh;
    padding: 0 5px 0 5px;
}

#myForm {
    margin-left: 10px;
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #69514D;
  }

  @media only screen and (min-width: 750px) { 

    input, textarea {
        padding: 2px;
        margin: 5px;
        border: 1px solid black;
        width: 50vw;
    }

    .submit-title, .submit-subtitle {
        text-align: left;
        padding-left: 10px;
    }

    .submit-title {
        padding-bottom: 10px;
    }


}