/* Hex Codes */
/* #98817D Grey */
/* #C1C5AE Green */
/* #C4C9B0 Green */
/* #69514D Dark Grey */
/* #6A3729 Dark Brown */
/* #B0826C Light Brown */

/* Style Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

.page-container {
  position: relative;
  height: 100vh;
}


